:root {
  --primary-color: #e76f51;
  --secondary-color: #2a9d8f;
  --light-color: #f8f9fa;
  --dark-color: #6c757d;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  margin: 0.7rem;
  line-height: 1.3;
}

p {
  margin: 0.5rem 0;
}

/* utils */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.category {
  display: inline-block;
  background-color: var(--secondary-color);
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0.4rem 1.6rem;
  text-align: center;
}

.btn-light {
  background-color: var(--light-color);
}
.btn-dark {
  background-color: var(--dark-color);
}
.btn-primary {
  background-color: var(--primary-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 0.6rem;
}
.p-3 {
  padding: 0.8rem;
}
.p-4 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 0.5rem;
}
.pt-2 {
  padding-top: 0.6rem;
}
.pt-3 {
  padding-top: 0.8rem;
}
.pt-4 {
  padding-top: 1rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.px-2 {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.m-1 {
  padding: 0.5rem;
}
.m-2 {
  padding: 0.6rem;
}
.m-3 {
  padding: 0.8rem;
}
.m-4 {
  padding: 1rem;
}

.card {
  background-color: #fff;
  padding: 1rem;
}

.card-primary {
  background-color: var(--primary-color);
  padding: 1rem;
}

/* navbar */
.main-header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.main-nav {
  display: grid;
  grid-template-columns: 0.6fr 3fr 2fr;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
}

.main-nav img {
  width: 65px;
  justify-self: center;
}

.main-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  padding: 10px;
}

.main-nav ul li {
  justify-items: start;
}

.main-nav ul li a.active {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.main-nav ul li a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  transition: background-color 0.3s;
}

.main-nav li a {
  padding: 1rem;
  text-align: center;
}

.main-nav .social-icons {
  justify-self: end;
}

.main-nav .social-icons a {
  padding: 0 10px;
}

.active {
  background-color: #e76f51;
  color: #fff;
  border-radius: 0.3rem;
}

/* navbar */
#main-nav {
  background-color: #fff;
}

#main-nav img {
  width: 65px;
  margin: 0 20px;
}

#main-nav img:hover {
  opacity: 0.8;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 2fr;
  padding: 10px;
  align-items: center;
}

#main-nav ul {
  display: flex;
  justify-self: start;
}

#main-nav ul a {
  font-weight: bold;
  padding: 1rem;
}

#main-nav ul a:hover {
  opacity: 0.8;
}

#main-nav ul li a.active {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

#main-nav .social-icons {
  justify-self: end;
}

#main-nav .social-icons a {
  padding: 0 0.8rem;
}

#main-nav .social-icons a:hover {
  opacity: 0.8;
}

/* header */
#header {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#header::before {
  content: "";
  background: url("../img/rowing.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* header */
#header .header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50vh;
  align-items: center;
}

#header .header-content {
  z-index: 2;
}

#header h1 {
  margin: 1rem 0;
}

#header p {
  margin: 1rem 0 2rem;
}

/* section */
#main-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.articles-container img {
  width: 100%;
}

.articles-container .card {
  background-color: #fff;
  padding: 1rem;
}

.articles-container p {
  color: var(--dark-color);
}

/* footer */
#footer {
  background-color: var(--dark-color);
  color: #fff;
  margin-top: 20px;
}

#footer a {
  color: #fff;
}

#footer h2 {
  margin-left: 0;
}

#footer .first img {
  width: 150px;
}

#footer .third li {
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

#footer .third li a:hover {
  color: #e76f51;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

#footer .second input {
  padding: 0.5rem;
  display: block;
  margin: 1rem 0;
}

#footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
}

#footer .footer-container > :last-child {
  background-color: rgb(68, 68, 68);
  text-align: center;
  grid-column: 1 / span 4;
  padding: 0.5rem;
}

#footer .fourth a:hover {
  opacity: 0.8;
}
